<app-base>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Contact Us</h2>
                        <p>If you have some Questions for our team - please Contact Us through this field bellow<br>We are here to listen!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form [formGroup]="form" (ngSubmit)="saveMessage()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input matInput type="text" class="form-control" placeholder="Your Firstname: " formControlName="firstName"/>
                                    <span *ngIf="form.controls['firstName'].hasError('pattern')" class="text-danger">Please write first letter uppercase with minimun 3 letters!</span>
                                    <span *ngIf="form.controls['firstName'].hasError('required')"class="text-danger" >This field is required!</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input matInput type="text" class="form-control" placeholder="Your Lastname: " formControlName="lastName" />
                                    <span *ngIf="form.controls['lastName'].hasError('pattern')"  class="text-danger">Please write first letter uppercase with minimun 3 letters!</span>
                                    <span  *ngIf="form.controls['lastName'].hasError('required')" class="help-block"  class="text-danger">This field is required!</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input matInput type="email" class="form-control" placeholder="Your Email: " formControlName="email"/>
                                    <span *ngIf="form.controls['email'].hasError('required')"  class="text-danger">This field is required!</span>
                                    <span *ngIf="form.controls['email'].hasError('email')"  class="text-danger">Please write in email format! (example: marijavucicevic@gmail.com)</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea matInput class="form-control" placeholder="Your Message: " formControlName="message"></textarea>
                                    <span *ngIf="form.controls['message'].hasError('required')" class="help-block"  class="text-danger">This field is required!</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn" [disabled]="!form.valid">Send Message</button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="formMessage[0]" class="alert alert-dark borderBlack" role="alert">
                        <h4 class="alert-heading">Hey!</h4>
                        <p>Thank you {{formMessage[0].firstName}} {{formMessage[0].lastName}}, you have successfully sent your message!</p>
                        <hr>
                        <p class="mb-0">- We appreciate you for supporting our small world -</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Our Location</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center" id="loc">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90593.29045061053!2d20.473446298187802!3d44.800366791900124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7007ae411f8d%3A0xfc2b6c76f90bb500!2sMap!5e0!3m2!1sen!2srs!4v1646221250978!5m2!1sen!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
</app-base>