<footer>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 text-center" id="liLI2">
                <p>Marija Vučićević 18/19 &copy; <a target="_blank" href="https://www.ict.edu.rs/">ICT College</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
			================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://use.fontawesome.com/935de314b4.js"></script>
<script src="assets/layout/scripts/bootstrap.min.js"></script>
<script src="assets/layout/scripts/SmoothScroll.js"></script>
<script src="assets/layout/scripts/theme-scripts.js"></script>
<script src="assets/layout/scripts/bootstrap.js"></script>


