<app-base>
    <section id="about" class="mz-module">
        <div class="container light-bg">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>ABOUT ME</h2>
                        <p>Here are some quick info about the author of this Angular project!</p>
                    </div>
                </div>
            </div>
            <div class="row MB">
                <div class="col-md-6 MB">
                    <!-- skill bar item -->
                    <div class="skillPic mt-5">
                        <img src="../../assets/images/author.jpeg" alt="mainPic" class="img-responsive center-block" style="width: 330px; opacity: 0.9;">
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="mz-about-container">
                        <p>Hi.</p><br/>
                        <p>My name is Marija Vucicevic and I'm on my last - third year of ICT studies on my last exam 
                           untill I'm finished (yeah...this is my last exam). Anyway, beacuse of my studies I'm living
                            in Belgrade with excitement of becoming a Web Developer / Designer after I have zero exams left.
                            For more info - below is my git profile<br/></p>
                            <p>So, wish me luck!</p>
                        <div class="modal-works text-center" id="margin"> <a href="https://github.com/marija-web" target="_blank"><span>Click for git</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</app-base>